<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelName</key>
	<string>Central Cavern</string>
	<key>backgroundTexture</key>
	<string></string>
	<key>wallTexture</key>
	<string>wall01</string>
	<key>floorTexture</key>
	<string>floor01</string>
	<key>itemTexture</key>
	<string></string>
	<key>robotTexture</key>
	<string>robot01</string>
	<key>goalTextures</key>
	<array>
		<string>l1goal01</string>
	</array>
	<key>conveyorTextures</key>
	<array>
		<string>conveyor01</string>
		<string>conveyor02</string>
	</array>
	<key>nastiesConfiguration</key>
	<array>
		<dict>
			<key>name</key>
			<string>id1</string>
			<key>spawnPointName</key>
			<string>robotStart</string>
			<key>speed</key>
			<integer>5</integer>
			<key>directionHorizontal</key>
			<true/>
			<key>rangeofMovementLU</key>
			<integer>40</integer>
			<key>rangeofMovementRD</key>
			<integer>220</integer>
			<key>LUTextureList</key>
			<array>
				<string>robotL01</string>
				<string>robotL02</string>
				<string>robotL03</string>
				<string>robotL04</string>
			</array>
			<key>RDTextureList</key>
			<array>
				<string>robotR01</string>
				<string>robotR02</string>
				<string>robotR03</string>
				<string>robotR04</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
